@charset "UTF-8";
/* ---------------------------------------- */
/* ==            SUMMARY              */
/*---------------------------------------- */
/* == VARIABLES  */
/* == GENERAL MIXINS  */
/* == FONT  */
/* == GENERAL  */
/* == HEADER  */
/* == HOME  */
/* == PHOTOGRAPHER  */
/* == FORM  */
/* ---------------------------------------- */
/* ==          VARIABLES             */
/*---------------------------------------- */
/* ---------------------------------------- */
/* ==        GENERAL MIXINS            */
/*---------------------------------------- */
/* ---------------------------------------- */
/* ==              FONT                 */
/*---------------------------------------- */
html {
  font-family: "DM Sans", serif;
  font-size: 4vw;
}

@media screen and (min-width: 577px) {
  html {
    font-size: 2vw;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 1rem;
  }
}

h1 {
  font-family: "DM Sans", serif;
}

/* ---------------------------------------- */
/* ==            GENERAL                */
/*---------------------------------------- */
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Indique au navigateur de prendre en compte la bordure et le remplissage dans la valeur définie pour la largeur et la hauteur */
  margin: 0 auto;
  max-width: 1240px;
  position: relative;
  padding: 0 1.25rem;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
  color: #901c1c;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

h5 {
  margin: 0;
}

h6 {
  margin: 0;
}

/* ---------------------------------------- */
/* ==            HEADER                */
/*---------------------------------------- */
header {
  margin-top: 2.5rem;
  margin-left: 1.25rem;
  margin-bottom: 1.875rem;
}

header a {
  width: 50%;
  display: block;
  text-align: center;
}

@media screen and (min-width: 577px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-left: 0rem;
    margin-bottom: 6.25rem;
  }
}

@media screen and (min-width: 992px) {
  header {
    width: 66%;
  }
}

@media screen and (min-width: 577px) {
  .header-photographer-page a {
    text-align: start;
  }
}

.logo {
  max-width: 9.375rem;
  margin-bottom: 1.875rem;
}

@media screen and (min-width: 577px) {
  .logo {
    max-width: 12.5rem;
    margin-left: 0rem;
    margin-bottom: 0rem;
  }
}

nav {
  font-weight: 500;
  font-size: 0.7rem;
  margin: auto;
  max-width: 17.8125rem;
  z-index: 2;
}

nav ul {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 577px) {
  nav ul {
    margin: auto;
    width: 17.8125rem;
  }
}

@media screen and (min-width: 1200px) {
  nav ul {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: auto;
  }
}

@media screen and (min-width: 577px) {
  nav {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 50%;
  }
}

.tag {
  padding: 0.1875rem 0.3125rem;
  margin-right: 0.1875rem;
  margin-bottom: 0.3125rem;
  border: 0.03125rem solid #c4c4c4;
  border-radius: 0.6875rem;
  color: #901c1c;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.tag:hover {
  background-color: #c4c4c4;
}

.to-content-btn {
  display: none;
  position: fixed;
  left: 50%;
  top: 0.375rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #000000;
  font-weight: bold;
  font-size: 1.125rem;
  background: #db8876;
  border-radius: 0.3125rem;
  z-index: 3;
}

@media screen and (min-width: 577px) {
  .to-content-btn-show {
    display: block;
  }
}

.to-content-text {
  padding: 0.5rem 0.75rem;
  width: 100%;
  text-align: unset;
  color: #000000;
}

/* ---------------------------------------- */
/* ==               HOME                   */
/*---------------------------------------- */
.our-photographer {
  position: absolute;
  right: 0;
  top: 0.5rem;
  font-size: 0.875rem;
  text-align: center;
  width: 50%;
}

@media screen and (min-width: 577px) {
  .our-photographer {
    font-size: 2.25rem;
    position: unset;
    width: 100%;
    margin-bottom: 2.5rem;
  }
}

@media screen and (min-width: 992px) {
  .our-photographer {
    position: absolute;
    top: 0;
    width: 33%;
    right: 0;
    left: unset;
    text-align: center;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
  }
}

article {
  text-align: center;
}

@media screen and (min-width: 577px) {
  #photographer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.photographer-card {
  margin-bottom: 3.125rem;
}

.photographer-card ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.photographer-card ul li {
  padding: 0.1875rem 0.3125rem;
  margin-right: 0.1875rem;
  margin-bottom: 0.3125rem;
  border: 0.03125rem solid #c4c4c4;
  border-radius: 0.6875rem;
  font-weight: 500;
  font-size: 0.75rem;
  color: #901c1c;
}

@media screen and (min-width: 577px) {
  .photographer-card {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .photographer-card {
    width: 33%;
  }
}

.photographer-card-img {
  width: 12.5rem;
  height: 12.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  -webkit-box-shadow: 0rem 0.25rem 0.75rem 0rem #00000040;
          box-shadow: 0rem 0.25rem 0.75rem 0rem #00000040;
}

.photographer-card-name {
  font-size: 2.25rem;
  color: #d3573c;
  font-weight: 400;
}

.photographer-card-text-container p {
  margin: 0;
}

.card-city {
  font-size: 0.8125rem;
  color: #901c1c;
}

.card-tagline {
  font-size: 0.625rem;
}

.card-price {
  font-size: 0.5625rem;
  color: #757575;
}

/* ---------------------------------------- */
/* ==              PHOTOGRAPHER             */
/*---------------------------------------- */
#about-photographer {
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 577px) {
  #about-photographer {
    background: #fafafa;
    border-radius: 0.3125rem;
    padding: 3.125rem 2.125rem 3.125rem 2.125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1.25rem;
  }
}

#about-photographer p {
  margin: 0;
}

#about-photographer-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  -webkit-box-shadow: 0rem 0.25rem 0.75rem rgba(0, 0, 0, 0.25);
          box-shadow: 0rem 0.25rem 0.75rem rgba(0, 0, 0, 0.25);
}

#about-photographer-img-container {
  width: 6.25rem;
  height: 6.25rem;
  float: right;
}

@media screen and (min-width: 577px) {
  #about-photographer-img-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    height: 100%;
    float: none;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-left: auto;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 992px) {
  #about-photographer-img-container {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 577px) {
  #about-photographer-img {
    margin: 0 0 0 1rem;
    width: 9rem;
    height: 9rem;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media screen and (min-width: 992px) {
  #about-photographer-img {
    width: 12rem;
    height: 12rem;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

#about-photographer-name {
  font-size: 2.25rem;
  color: #d3573c;
}

@media screen and (min-width: 577px) {
  #about-photographer-name {
    font-size: 4rem;
  }
}

#about-photographer-city {
  font-size: 0.8125rem;
  color: #901c1c;
  margin-bottom: 0.25rem;
  padding: 0.25rem 0;
}

@media screen and (min-width: 577px) {
  #about-photographer-city {
    font-size: 1.5rem;
  }
}

#about-photographer-tagline {
  font-size: 0.8125rem;
  color: #757575;
  padding: 0.25rem 0;
  padding-bottom: 0.75rem;
}

@media screen and (min-width: 577px) {
  #about-photographer-tagline {
    font-size: 1.125rem;
  }
}

#about-photographer-tags-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

#about-photographer-tags-container ul li {
  padding: 0.1875rem 0.3125rem;
  margin-right: 0.1875rem;
  margin-bottom: 0.3125rem;
  border: 0.03125rem solid #c4c4c4;
  border-radius: 0.6875rem;
  font-weight: 500;
  font-size: 0.8125rem;
  color: #901c1c;
}

@media screen and (min-width: 577px) {
  #about-photographer-tags-container ul li {
    font-size: 1.125rem;
  }
}

#about-photographer-likes-price-container {
  display: none;
  position: fixed;
  bottom: 0;
  right: 2.25rem;
  z-index: 1;
  background: #db8876;
  border-radius: 5px 5px 0 0;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem 1.5rem;
}

@media screen and (min-width: 577px) {
  #about-photographer-likes-price-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#about-photographer-likes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 4rem;
}

#about-photographer-likes-count {
  margin-right: 0.2rem;
}

#about-photographer-likes-logo {
  width: 1rem;
  height: 2rem;
  -webkit-filter: grayscale(100%) brightness(0);
          filter: grayscale(100%) brightness(0);
}

@media screen and (min-width: 577px) {
  #photographer-all-medias-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #photographer-all-medias-container::after {
    content: "";
    width: 30%;
  }
}

.photographer-main-container {
  margin-top: -2.5rem;
}

@media screen and (min-width: 577px) {
  .photographer-img-container {
    padding-top: 85.71429%;
    position: relative;
  }
}

@media screen and (min-width: 577px) {
  .photographer-img-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.photographer-medias-container {
  width: 100%;
}

@media screen and (min-width: 577px) {
  .photographer-medias-container {
    width: 45%;
    margin-bottom: 1.875rem;
    margin-left: 2%;
    margin-right: 2%;
  }
}

@media screen and (min-width: 992px) {
  .photographer-medias-container {
    width: 30%;
    margin-left: 1.5%;
    margin-right: 1.5%;
  }
}

.photographer-medias-img {
  border-radius: 0.3125rem;
  width: 100%;
  height: 11.875rem;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 577px) {
  .photographer-medias-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.photographer-medias-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #901c1c;
  font-size: 0.875rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.3125rem;
  padding-bottom: 0.625rem;
}

@media screen and (min-width: 577px) {
  .photographer-medias-text-container {
    font-size: 1.5rem;
  }
}

.photographer-medias-likes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.photographer-medias-likes-count {
  margin: 0 0.3125rem;
}

.photographer-medias-likes-logo {
  float: right;
}

@media screen and (min-width: 577px) {
  .photographer-medias-likes-logo {
    width: 1rem;
    height: 2rem;
  }
}

/* ---------------------------------------- */
/* ==              FORM                   */
/*---------------------------------------- */
#call-to-action-button {
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  bottom: 1.875rem;
  background: #911c1c;
  border-radius: 0.3125rem;
  font-weight: bold;
  font-size: 1.125rem;
  text-align: center;
  color: #ffffff;
  border: none;
  padding: 0.4375rem 1.25rem;
  cursor: pointer;
  z-index: 1;
}

@media screen and (min-width: 577px) {
  #call-to-action-button {
    position: static;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    font-size: 1.1rem;
    padding: 0.5rem;
    margin: 1rem 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 2rem;
  }
}

@media screen and (min-width: 992px) {
  #call-to-action-button {
    font-size: 1.25rem;
    padding: 1.3125rem 0.625rem;
    margin: 1rem 0;
  }
}

.call-to-action-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 577px) {
  .call-to-action-modal {
    height: auto;
  }
}

.call-to-action-modal-content {
  background: #db8876;
  height: 100%;
  overflow-y: auto;
}

@media screen and (min-width: 577px) {
  .call-to-action-modal-content {
    margin: auto;
    margin-top: 50vh;
    /* poussé de la moitié de hauteur de viewport */
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%;
    max-height: 97vh;
    max-width: 35rem;
    background: #db8876;
    border-radius: 0.3125rem;
    position: relative;
    color: #312e2e;
  }
}

.call-to-action-modal-title {
  font-size: 2.3em;
  margin-bottom: 1.25rem;
}

.modal-body {
  padding: 0.9375rem 2.1875rem 2.5rem;
  height: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 84%;
}

label {
  font-size: 2rem;
  font-weight: normal;
}

.text-control {
  margin: 0;
  padding: 0.5rem;
  width: 100%;
  font-size: 1.5rem;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.3125rem;
}

textarea {
  margin: 0;
  padding: 0.5rem;
  width: 100%;
  font-size: 1.5rem;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.3125rem;
}

.close1 {
  color: #fff;
  font-size: 3.5rem;
  position: absolute;
  right: 1.5rem;
  top: -0.5rem;
  cursor: pointer;
}

@media screen and (min-width: 577px) {
  .close1 {
    font-size: 5.3125rem;
    top: -1rem;
    right: 2.1875rem;
  }
}

.btn-submit {
  background: #fe142f;
  display: block;
  margin-top: 1.5625rem;
  border-radius: 0.3125rem;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1.4375rem 3.125rem;
  color: #fff;
  cursor: pointer;
  border: 0;
}

@media screen and (min-width: 577px) {
  .btn-submit {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.error-form {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.2rem;
}

#error-first,
#error-last,
#error-email,
#error-message {
  display: none;
}

#confirmation {
  margin: auto;
  display: none;
}

#confirmation h1 {
  text-align: center;
  font-size: 2rem;
  padding: 18rem 0;
}
/*# sourceMappingURL=style.css.map */