/* ---------------------------------------- */
/* ==            SUMMARY              */
/*---------------------------------------- */
/* == VARIABLES  */
/* == GENERAL MIXINS  */
/* == FONT  */
/* == GENERAL  */
/* == HEADER  */
/* == HOME  */
/* == PHOTOGRAPHER  */
/* == FORM  */
/* == LIGHTBOX  */
/* ---------------------------------------- */
/* ==          VARIABLES             */
/*---------------------------------------- */
/* ---------------------------------------- */
/* ==        GENERAL MIXINS            */
/*---------------------------------------- */
/* ---------------------------------------- */
/* ==              FONT                 */
/*---------------------------------------- */
html {
  font-family: "DM Sans", serif;
  font-size: 4vw;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 2vw;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 1rem;
  }
}

h1 {
  font-family: "DM Sans", serif;
}

/* ---------------------------------------- */
/* ==            GENERAL                */
/*---------------------------------------- */
body {
  position: relative;
  max-width: 1320px;
}

img {
  width: 100%;
  height: auto;
}

a {
  color: #901c1c;
  text-decoration: none;
}

a:hover {
  color: #901c1c;
  text-decoration: underline;
}

h1 {
  color: #901c1c;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

h5 {
  margin: 0;
}

h6 {
  margin: 0;
}

:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
}

/* ---------------------------------------- */
/* ==            HEADER                */
/*---------------------------------------- */
@media screen and (min-width: 992px) {
  .header {
    margin-bottom: 6.25rem !important;
  }
}

.home-link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.logo {
  max-width: 9.375rem;
}

@media screen and (min-width: 768px) {
  .logo {
    max-width: 12.5rem;
  }
}

.nav {
  font-weight: 500;
}

.nav-filters {
  max-width: 18rem;
}

@media screen and (min-width: 992px) {
  .nav-col {
    position: relative;
    left: -4.5%;
  }
}

.tag {
  border: 0.01rem solid #545454;
  background: #fff;
  color: #901c1c;
  font-size: 0.75rem;
}

.btn.is-checked {
  border: 0.03125rem solid #901c1c !important;
  background-color: #901c1c !important;
  color: #fff !important;
}

.to-content-btn {
  top: 2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #db8876;
  font-size: 1.125rem;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .to-content-btn-show {
    display: block !important;
  }
}

/* ---------------------------------------- */
/* ==               HOME                   */
/*---------------------------------------- */
.our-photographer {
  z-index: -1;
  position: absolute;
  top: -8.5rem;
}

@media screen and (min-width: 768px) {
  .our-photographer {
    position: static;
  }
}

@media screen and (min-width: 992px) {
  .our-photographer {
    position: absolute;
    top: -10rem;
  }
}

@media screen and (min-width: 1200px) {
  .our-photographer {
    position: absolute;
    top: -9rem;
  }
}

.our-photographer h1 {
  font-size: 0.875rem;
}

@media screen and (min-width: 768px) {
  .our-photographer h1 {
    font-size: 2rem;
  }
}

.our-photographer-container {
  position: relative;
}

.photographer-card a {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.photographer-card:focus-within {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
}

.photographer-card-img {
  width: 12.5rem;
  height: 12.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0rem 0.25rem 0.75rem rgba(0, 0, 0, 0.25);
          box-shadow: 0rem 0.25rem 0.75rem rgba(0, 0, 0, 0.25);
}

.photographer-card-name {
  color: #d3573c;
  font-size: 2rem;
}

.card-city {
  color: #901c1c;
}

.card-tagline {
  font-size: 0.9rem;
}

.card-price {
  color: #545454;
  font-size: 0.8rem;
}

.card-city,
.card-tagline,
.card-price {
  margin: 0;
}

/* ---------------------------------------- */
/* ==              PHOTOGRAPHER             */
/*---------------------------------------- */
@media screen and (min-width: 768px) {
  #about-photographer {
    background: #f2f2f2;
  }
}

#about-photographer p {
  margin: 0;
}

#about-photographer-img {
  width: 7rem;
  height: 7rem;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0rem 0.25rem 0.75rem rgba(0, 0, 0, 0.25);
          box-shadow: 0rem 0.25rem 0.75rem rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 768px) {
  #about-photographer-img {
    width: 9.5rem;
    height: 9.5rem;
  }
}

@media screen and (min-width: 992px) {
  #about-photographer-img {
    width: 12rem;
    height: 12rem;
  }
}

@media screen and (min-width: 992px) {
  #about-photographer-img-container {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

#about-photographer-name {
  color: #d3573c;
  font-size: 2.25rem;
}

@media screen and (min-width: 768px) {
  #about-photographer-name {
    font-size: 4rem;
  }
}

#about-photographer-city {
  color: #901c1c;
}

@media screen and (min-width: 768px) {
  #about-photographer-city {
    font-size: 1.5rem;
  }
}

#about-photographer-tagline {
  color: #545454;
}

@media screen and (min-width: 768px) {
  #about-photographer-tagline {
    font-size: 1.125rem;
  }
}

@media screen and (min-width: 768px) {
  #about-photographer-tags-container ul li {
    font-size: 1.125rem;
  }
}

#about-photographer-likes-price-container {
  z-index: 1;
  right: 2.25rem;
  left: unset;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #db8876;
  font-size: 1.5rem;
  font-weight: 500;
}

#about-photographer-likes-logo {
  width: 0.9rem;
  -webkit-filter: grayscale(100%) brightness(0);
          filter: grayscale(100%) brightness(0);
}

.photographer-tags-container {
  width: 90vw;
}

.dropbtn {
  width: 10.625rem;
  height: 4rem;
  background-color: #901c1c;
  color: white;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 3rem;
}

.dropbtn.show {
  border-radius: 0.25rem 0.25rem 0 0;
}

.btn.btn-danger.dropdown-toggle.dropbtn.show .dropdown-arrow {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.dropdown-menu {
  margin-top: -4px !important;
  background-color: #901c1c;
}

.dropdown-menu .show {
  border-top-right-radius: 0.25rem !important;
  border-top-left-radius: 0.25rem !important;
}

.dropdown-arrow {
  position: absolute;
  right: 1.5rem;
  width: 1rem;
  height: 3rem;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.dropdown-toggle::after {
  content: none;
}

.hide {
  display: none !important;
}

.sort-title {
  font-size: 1.125rem;
  font-weight: 700;
}

.sort-button {
  width: 10.625rem;
  width: 100%;
  height: 4rem;
  border-radius: 0;
  background-color: #901c1c;
  color: white;
  font-size: 1.125rem;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
}

.sort-by-button-group li:last-child button {
  border-bottom-right-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.sort-name {
  display: block;
  border-top: 0.1rem solid white;
  line-height: 4rem;
}

.photographer-img-container a:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.photographer-img-container a:focus .photographer-medias-img {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
}

.photographer-medias-img {
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 2/1;
}

@media screen and (min-width: 768px) {
  .photographer-medias-img {
    aspect-ratio: 22/19;
  }
}

.photographer-medias-text-container {
  color: #901c1c;
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .photographer-medias-text-container {
    font-size: 1.5rem;
  }
}

.photographer-medias-likes-container {
  color: #901c1c;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .photographer-medias-likes-container {
    font-size: 1.5rem;
  }
}

.photographer-medias-likes-container:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
}

.photographer-medias-likes-container:hover {
  color: #bb2d3b;
}

.photographer-medias-likes-logo {
  width: 0.8rem;
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .photographer-medias-likes-logo {
    width: 1.1rem;
  }
}

.figcaption-video {
  margin-top: -0.1rem !important;
}

.is-liked {
  opacity: 1;
}

/* ---------------------------------------- */
/* ==              FORM                   */
/*---------------------------------------- */
#call-to-action-button {
  z-index: 1;
  position: fixed;
  right: 0;
  bottom: 1rem;
  left: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #901c1c;
  font-size: 1.25rem;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  #call-to-action-button {
    position: static;
  }
}

#call-to-action-button:hover {
  background: #bb2d3b;
}

.call-to-action-modal-title {
  display: block;
  color: #000;
  font-size: 2rem;
}

.form-label {
  font-size: 1.5rem;
}

.form-control {
  font-size: 1.2rem;
}

.btn-submit {
  background: #901c1c;
  color: #fff;
  font-weight: 700;
}

#confirmation {
  display: none;
}

#confirmation h1 {
  padding: 16rem 0;
  color: black;
  font-size: 2rem;
  text-align: center;
}

.btn-close {
  width: 1.2rem;
  height: 2rem;
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  .btn-close {
    width: 2rem;
    font-size: 2rem;
  }
}

.invalid-feedback {
  color: #400000;
}

/* ---------------------------------------- */
/* ==            LIGHTBOX                  */
/*---------------------------------------- */
.modal-xl {
  max-width: 1240px !important;
}

@media screen and (min-width: 768px) {
  .modal-xl {
    width: 90% !important;
  }
}

.modal-content {
  background: #db8876;
  color: #000;
}

.modal-header {
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
}

.modal-img {
  max-width: 75vw;
  max-height: 85vh;
}

@media screen and (min-width: 768px) {
  .modal-img {
    max-width: 100%;
  }
}

.modal-lightbox {
  position: relative;
  width: 100%;
  pointer-events: all;
}

.modal-lightbox-btn-close {
  z-index: 1056;
  position: absolute;
  top: 0;
  right: 0;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ff0000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}

.modal-lightbox-btn-close:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
}

.carousel-control-next {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.carousel-control-next:focus .carousel-control-next-icon {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
  opacity: 1;
}

.carousel-control-prev {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.carousel-control-prev:focus .carousel-control-prev-icon {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
  opacity: 1;
}

.carousel-control-next,
.carousel-control-prev {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.carousel-control-next:focus,
.carousel-control-prev:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 2rem;
  height: 2rem;
}

@media screen and (min-width: 768px) {
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    width: 3rem;
    height: 3rem;
  }
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ff0000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ff0000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.mySlides {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 85%;
  -webkit-box-shadow: 0rem 0.25rem 0.75rem rgba(0, 0, 0, 0.25);
          box-shadow: 0rem 0.25rem 0.75rem rgba(0, 0, 0, 0.25);
}

.numbertext {
  position: absolute;
  top: 0;
  color: #f2f2f2;
  background: rgba(0, 0, 0, 0.25);
}

.caption-container {
  margin-top: -0.4rem;
  background-color: white;
  color: #901c1c;
}

@media screen and (min-width: 768px) {
  .caption-container {
    font-size: 1.5rem;
  }
}
