/* ---------------------------------------- */
/* ==            SUMMARY              */
/*---------------------------------------- */

/* == VARIABLES  */
/* == GENERAL MIXINS  */
/* == FONT  */
/* == GENERAL  */
/* == HEADER  */
/* == HOME  */
/* == PHOTOGRAPHER  */
/* == FORM  */
/* == LIGHTBOX  */

/* ---------------------------------------- */
/* ==          VARIABLES             */
/*---------------------------------------- */

$primary-color: #901c1c;
$secondary-color: #d3573c;
$tertiary-color: #525252;

$dark-text-color: #000;
$light-text-color: #fff;

$box-shadow-color: #aaa;

$font-size: (
	mobile: 4vw,
	tablet: 2vw,
	desktop: 1rem,
);

$breakpoints: (
	tablet: 577px,
	desktop: 992px,
	big-desktop: 1200px,
);

/* ---------------------------------------- */
/* ==        GENERAL MIXINS            */
/*---------------------------------------- */
@mixin tablet-breakpoint {
	@media screen and (min-width: map-get($breakpoints, tablet)) {
		@content;
	}
}
@mixin desktop-breakpoint {
	@media screen and (min-width: map-get($breakpoints, desktop)) {
		@content;
	}
}
@mixin big-desktop-breakpoint {
	@media screen and (min-width: map-get($breakpoints, big-desktop)) {
		@content;
	}
}

@mixin no-margin {
	margin: 0;
}

/* ---------------------------------------- */
/* ==              FONT                 */
/*---------------------------------------- */
@mixin main-typography {
	font-family: "DM Sans", serif;
	font-size: map-get($font-size, mobile);
	@include tablet-breakpoint {
		font-size: map-get($font-size, tablet);
	}
	@include desktop-breakpoint {
		font-size: map-get($font-size, desktop);
	}
}

@mixin title-typography {
	font-family: "DM Sans", serif;
}

html {
	@include main-typography;
}

h1 {
	@include title-typography;
}

/* ---------------------------------------- */
/* ==            GENERAL                */
/*---------------------------------------- */

body {
	box-sizing: border-box; /* Indique au navigateur de prendre en compte la bordure et le remplissage dans la valeur définie pour la largeur et la hauteur */
	position: relative;
	max-width: 1240px;
	margin: 0 auto;

	padding: 0 1.25rem;
}

img {
	width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

h1 {
	color: $primary-color;
	font-family: DM Sans;
	font-style: normal;
	font-weight: normal;
	@include no-margin;
}

h2 {
	@include no-margin;
}

h3 {
	@include no-margin;
}

h4 {
	@include no-margin;
}

h5 {
	@include no-margin;
}

h6 {
	@include no-margin;
}

/* ---------------------------------------- */
/* ==            HEADER                */
/*---------------------------------------- */
header {
	margin-top: 2.5rem;
	margin-bottom: 1.875rem;
	@include tablet-breakpoint {
		display: flex;
		width: 100%;
		margin-bottom: 6.25rem;
		margin-left: 0rem;
	}
	@include desktop-breakpoint {
		width: 66%;
	}
	a {
		display: block;
		width: 50%;
		text-align: center;
	}
}

.header-photographer-page a {
	@include tablet-breakpoint {
		text-align: start;
	}
}

.logo {
	max-width: 9.375rem;
	margin-bottom: 1.875rem;
	@include tablet-breakpoint {
		max-width: 12.5rem;
		margin-bottom: 0rem;
		margin-left: 0rem;
	}
}

nav {
	z-index: 2;
	max-width: 17.8125rem;
	margin: auto;
	font-size: 0.7rem;
	font-weight: 500;
	@include tablet-breakpoint {
		flex-wrap: nowrap;
		width: 50%;
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0;
		list-style: none;
		@include no-margin;
		@include tablet-breakpoint {
			width: 17.8125rem;
			margin: auto;
		}
		@include big-desktop-breakpoint() {
			flex-wrap: nowrap;
			width: auto;
		}
	}
}

.tag {
	margin-right: 0.1875rem;
	margin-bottom: 0.3125rem;
	padding: 0.1875rem 0.3125rem;
	border: 0.03125rem solid #c4c4c4;
	border-radius: 0.6875rem;
	color: $primary-color;
	cursor: pointer;
	user-select: none;
	&:hover {
		background-color: #c4c4c4;
	}
}

.btn.is-checked {
	border: 0.03125rem solid #901c1c !important;
	background-color: #901c1c !important;
	color: #fff !important;
}

.to-content {
	&-btn {
		display: none;
		z-index: 3;
		position: fixed;
		top: 0.375rem;
		left: 50%;
		transform: translateX(-50%);
		border-radius: 0.3125rem;
		background: #db8876;
		color: #000000;
		font-size: 1.125rem;
		font-weight: bold;
		&-show {
			@include tablet-breakpoint {
				display: block;
			}
		}
	}

	&-text {
		width: 100%;
		padding: 0.5rem 0.75rem;
		color: #000000;
		text-align: unset;
	}
}
/* ---------------------------------------- */
/* ==               HOME                   */
/*---------------------------------------- */

.our-photographer {
	position: absolute;
	top: 0.5rem;
	right: 0;
	width: 50%;
	font-size: 0.875rem;
	text-align: center;
	@include tablet-breakpoint {
		position: unset;
		width: 100%;
		margin-bottom: 2.5rem;
		font-size: 2.25rem;
	}
	@include desktop-breakpoint {
		position: absolute;
		top: 0;
		right: 0;
		left: unset;
		width: 33%;
		min-width: max-content;

		text-align: center;
	}
}

article {
	text-align: center;
}

#photographer {
	&-list {
		@include tablet-breakpoint {
			display: flex;
			flex-wrap: wrap;
		}
	}
}

.photographer {
	&-card {
		width: 100%;
		margin-bottom: 3.125rem;
		@include tablet-breakpoint {
			width: 50%;
		}
		@include desktop-breakpoint() {
			width: 33%;
		}
		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			padding: 0;
			list-style: none;
			li {
				margin-right: 0.1875rem;
				margin-bottom: 0.3125rem;
				padding: 0.1875rem 0.3125rem;
				border: 0.03125rem solid #c4c4c4;
				border-radius: 0.6875rem;
				color: $primary-color;
				font-size: 0.75rem;
				font-weight: 500;
			}
		}
		&-img {
			width: 12.5rem;
			height: 12.5rem;
			object-fit: cover;
			border-radius: 50%;
			box-shadow: 0rem 0.25rem 0.75rem 0rem #00000040;
		}
		&-name {
			color: $secondary-color;
			font-size: 2.25rem;
			font-weight: 400;
		}
		&-text-container {
			p {
				@include no-margin;
			}
		}
	}
}
.card {
	&-city {
		color: $primary-color;
		font-size: 0.8125rem;
	}
	&-tagline {
		font-size: 0.625rem;
	}
	&-price {
		color: #757575;
		font-size: 0.5625rem;
	}
}

/* ---------------------------------------- */
/* ==              PHOTOGRAPHER             */
/*---------------------------------------- */

#about-photographer {
	margin-bottom: 2.5rem;
	@include tablet-breakpoint {
		display: flex;
		margin-bottom: 1.25rem;
		padding: 3.125rem 2.125rem 3.125rem 2.125rem;
		border-radius: 0.3125rem;
		background: #fafafa;
	}
	p {
		margin: 0;
	}
	&-img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 50%;
		box-shadow: 0rem 0.25rem 0.75rem rgba(0, 0, 0, 0.25);
		@include tablet-breakpoint {
			order: 1;
			width: 9.5rem;
			height: 9.5rem;
			margin: 0 0 0 1rem;
		}
		@include desktop-breakpoint {
			order: 2;
			width: 12rem;
			height: 12rem;
		}
		&-container {
			width: 6.25rem;
			height: 6.25rem;
			float: right;
			@include tablet-breakpoint {
				display: flex;
				display: flex;
				flex-wrap: wrap;
				justify-content: end;
				order: 2;
				width: 50%;
				height: 100%;
				margin-left: auto;
				float: none;
			}
			@include desktop-breakpoint {
				justify-content: end;
				justify-content: space-between;
			}
		}
	}
	&-name {
		color: $secondary-color;
		font-size: 2.25rem;
		@include tablet-breakpoint {
			font-size: 4rem;
		}
	}
	&-city {
		margin-bottom: 0.25rem;
		padding: 0.25rem 0;
		color: $primary-color;
		font-size: 0.8125rem;
		@include tablet-breakpoint {
			font-size: 1.5rem;
		}
	}
	&-tagline {
		padding: 0.25rem 0;
		padding-bottom: 0.75rem;
		color: #757575;
		font-size: 0.8125rem;
		@include tablet-breakpoint {
			font-size: 1.125rem;
		}
	}
	&-tags-container {
		ul {
			display: flex;
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				margin-right: 0.1875rem;
				margin-bottom: 0.3125rem;
				padding: 0.1875rem 0.3125rem;
				border: 0.03125rem solid #c4c4c4;
				border-radius: 0.6875rem;
				color: $primary-color;
				font-size: 0.8125rem;
				font-weight: 500;
				@include tablet-breakpoint {
					font-size: 1.125rem;
				}
			}
		}
	}
	&-likes {
		&-price-container {
			display: none;
			z-index: 1;
			position: fixed;
			right: 2.25rem;
			bottom: 0;
			padding: 1rem 1.5rem;
			border-radius: 5px 5px 0 0;
			background: #db8876;
			font-size: 1.5rem;
			font-weight: 500;

			@include tablet-breakpoint {
				display: flex;
			}
		}
		&-container {
			display: flex;
			margin-right: 4rem;
		}
		&-count {
			margin-right: 0.2rem;
		}
		&-logo {
			width: 1rem;
			height: 2rem;
			filter: grayscale(100%) brightness(0);
		}
	}
}

.dropbtn {
	display: flex;
	position: relative;
	padding-left: 1.5rem;
	border-radius: 0.3125rem;
	background-color: #911c1c;
	color: white;
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 4.375rem;
	cursor: pointer;
	&:hover {
		border-radius: 0.3125rem 0.3125rem 0 0;
	}
}

.dropdown {
	display: inline-block;
	width: 10.625rem;
	height: 4.375rem;
	&-arrow {
		position: absolute;
		right: 1.5rem;
		width: 1rem;
		height: 4.375rem;
		margin-left: 1.5rem;
		transition: transform 0.2s ease-in-out;
		&:hover {
			transform: rotate(180deg);
		}
	}
	&:hover .dropdown-content {
		display: block;
	}
	&:hover .dropdown-arrow {
		transform: rotate(180deg);
	}
	&-content {
		display: none;
		z-index: 1;
		position: absolute;
		width: 10.625rem;
		min-width: 10rem;
		height: 4.375rem;
		background-color: #f9f9f9;
		box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.2);
		cursor: pointer;
		a {
			display: block;
			padding-left: 2rem;
			border-top: 0.0625rem solid white;
			background-color: #911c1c;
			color: white;
			font-size: 1.125rem;
			font-weight: 700;
			line-height: 4.375rem;
			text-decoration: none;
		}
	}
}

.hide {
	display: none !important;
}

.sort {
	display: none;
	@include tablet-breakpoint {
		display: block;
		margin-bottom: 3.125rem;
		&-title {
			margin-right: 25px;
			color: #000000;
			font-size: 1.125rem;
			font-weight: 700;
		}
	}
}

#photographer-all-medias-container {
	@include tablet-breakpoint {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		&::after {
			width: 30%;
			content: "";
		}
	}
}

.photographer {
	&-main-container {
		margin-top: -2.5rem;
	}
	&-img-container {
		@include tablet-breakpoint {
			position: relative;
			padding-top: 18.75rem / 21.875rem * 100%;
		}
		video {
			@include tablet-breakpoint {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	&-medias {
		&-container {
			width: 100%;
			@include tablet-breakpoint {
				width: 45%;
				margin-right: 2%;
				margin-bottom: 1.875rem;
				margin-left: 2%;
			}
			@include desktop-breakpoint {
				width: 30%;
				margin-right: 1.5%;
				margin-left: 1.5%;
			}
		}
		&-img {
			width: 100%;
			height: 11.875rem;
			object-fit: cover;
			border-radius: 0.3125rem;
			@include tablet-breakpoint {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		&-text-container {
			display: flex;
			justify-content: space-between;
			margin-top: 0.3125rem;

			padding-bottom: 0.625rem;
			color: $primary-color;
			font-size: 0.875rem;
			@include tablet-breakpoint {
				font-size: 1.5rem;
			}
		}
		&-likes {
			&-container {
				display: flex;
				font-weight: 500;
				cursor: pointer;
				user-select: none;
			}
			&-count {
				margin: 0 0.3125rem;
			}
			&-logo {
				float: right;
				opacity: 0.5;
				@include tablet-breakpoint {
					width: 1rem;
					height: 2rem;
				}
			}
		}
	}
}

.is-liked {
	opacity: 1;
}

/* ---------------------------------------- */
/* ==              FORM                   */
/*---------------------------------------- */

#call-to-action-button {
	z-index: 1;
	position: fixed;
	right: 0;
	bottom: 1.875rem;
	left: 0;
	width: fit-content;
	margin: 0 auto;
	padding: 0.4375rem 1.25rem;
	border: none;
	border-radius: 0.3125rem;

	background: #911c1c;
	color: #ffffff;
	font-size: 1.125rem;
	font-weight: bold;
	text-align: center;
	cursor: pointer;

	@include tablet-breakpoint {
		position: static;

		order: 1;
		height: max-content;
		margin: 1rem 0;
		margin-left: 2rem;
		padding: 0.5rem;
		font-size: 1.1rem;
	}
	@include desktop-breakpoint {
		margin: 1rem 0;
		padding: 1.3125rem 0.625rem;
		font-size: 1.25rem;
	}
}

.call-to-action {
	&-modal {
		display: none;
		z-index: 1;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.5);
		@include tablet-breakpoint {
			height: auto;
		}
		&-content {
			height: 100%;

			overflow-y: auto;
			background: #db8876;
			@include tablet-breakpoint {
				position: relative;
				width: 100%;
				max-width: 35rem;
				max-height: 97vh;
				margin: auto;
				margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
				transform: translateY(-50%);
				border-radius: 0.3125rem;
				background: #db8876;
				color: #312e2e;
			}
		}
		&-title {
			margin-bottom: 1.25rem;
			font-size: 2.3em;
		}
	}
}

.modal-body {
	box-sizing: border-box;
	height: inherit;
	padding: 0.9375rem 2.1875rem 2.5rem;
}
form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 84%;
}

label {
	font-size: 2rem;
	font-weight: normal;
}
.text-control {
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 0.5rem;
	border: none;
	border-radius: 0.3125rem;
	font-size: 1.5rem;
}

textarea {
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 0.5rem;
	border: none;
	border-radius: 0.3125rem;
	font-size: 1.5rem;
}

.close1 {
	position: absolute;
	top: -0.5rem;
	right: 1.5rem;
	color: #fff;
	font-size: 3.5rem;
	cursor: pointer;
	@include tablet-breakpoint {
		top: -1rem;
		right: 2.1875rem;
		font-size: 5.3125rem;
	}
}

.btn-submit {
	display: block;
	margin-top: 1.5625rem;
	padding: 1.4375rem 3.125rem;
	border: 0;
	border-radius: 0.3125rem;
	background: #fe142f;
	color: #fff;
	font-size: 1.2rem;
	font-weight: 700;
	cursor: pointer;
	@include tablet-breakpoint {
		width: fit-content;
	}
}

.error-form {
	margin-top: 0.2rem;
	color: red;
	font-size: 0.8rem;
}

#error-first,
#error-last,
#error-email,
#error-message {
	display: none;
}

#confirmation {
	display: none;
	margin: auto;
}

#confirmation h1 {
	padding: 16rem 0;
	color: black;
	font-size: 2rem;
	text-align: center;
}

.btn-close {
	display: block;
	margin: auto;
	padding: 1.4375rem 3.125rem;
	border: 0;
	border-radius: 0.3125rem;
	background: #fe142f;
	color: #fff;
	font-size: 1.2rem;
	font-weight: 700;
	cursor: pointer;
}

/* ---------------------------------------- */
/* ==            LIGHTBOX                  */
/*---------------------------------------- */
/* The Modal (background) */
.modal {
	display: none;
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	&-content {
		position: relative;
		max-width: 94vw;
		margin: auto;
		margin-top: 50vh;
		transform: translateY(-50%);
	}
	&-img {
		width: auto;
		max-width: 75vw;
		height: auto;
		max-height: 85vh;
		margin: 0 auto;
		border-radius: 0.3125rem 0.3125rem 0 0;
		text-align: center;
		@include tablet-breakpoint {
			max-width: 80vw;
		}
	}
}

/* The Close Button */
.close {
	z-index: 2;
	position: absolute;
	top: 0;
	right: 0;
	width: 1rem;
	height: 1rem;
	padding: 0 1rem;
	color: #901c1c;
	font-size: 2rem;
	line-height: 1rem;
	text-align: end;
	cursor: pointer;
	@include tablet-breakpoint {
		width: 2rem;
		height: 2rem;
		font-size: 5rem;
		line-height: 2rem;
	}
}

/* Hide the slides by default */
.mySlides {
	display: none;
	width: fit-content;
	margin: 0 auto;
	box-shadow: 0rem 0.25rem 0.75rem rgba(0, 0, 0, 0.25);
}

/* Next & previous buttons */
.prev,
.next {
	position: absolute;
	top: 50%;
	width: 10%;
	height: 15vh;
	margin-top: -10vh;
	padding: 1rem;
	border-radius: 0 0.1875rem 0.1875rem 0;
	color: #901c1c;
	font-size: 2rem;
	font-weight: bold;
	line-height: 15vh;
	cursor: pointer;
	transition: 0.6s ease;
	user-select: none;
	-webkit-user-select: none;
	@include tablet-breakpoint {
		font-size: 5rem;
	}
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 0.1875rem 0 0 0.1875rem;
	text-align: end;
}

/* Number text (1/3 etc) */
.numbertext {
	position: absolute;
	top: 0;
	padding: 0.5rem 0.75rem;
	color: #f2f2f2;
	font-size: 1rem;
}

/* Caption text */
.caption-container {
	margin-top: -0.4rem;
	padding: 0.5rem 1rem;
	border-radius: 0 0 0.3125rem 0.3125rem;
	background-color: white;
	color: #901c1c;
	@include tablet-breakpoint {
		font-size: 1.5rem;
	}
}

img.demo {
	opacity: 0.6;
}

.active,
.demo:hover {
	opacity: 1;
}

img.hover-shadow {
	transition: 0.3s;
}

.hover-shadow:hover {
	box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
}
